/* CSS Document */

/*light cornflower-199, 64%, 73%
blue green-192, 70%, 43%
honey yellow-43, 100%, 51%

/*https://coolors.co/8ecae6-219ebc-023047-ffb703-fb8500 light conflower, blue green, honey yellow
https://coolors.co/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff*/

//Include Normalize CSS code
@use "reset";

body {
    background-color: hsla(200, 95%, 14%, 1);
    font-family: 'Oswald', sans-serif;
}

.wrapper {
    max-width: 960px;
    width: 96%;
    margin: auto;
    background-color: hsla(192, 70%, 43%, 1);
    display: grid;
    grid-template-columns: repeat(2, [column] 1fr);
}

main {
    grid-column: span 2;
}

h1 {
    position: absolute;
    top: -3000px;
    left: -3000px;
    margin: 0px;
    transform: xindex
}

img {
    display: block;
    height: 300px;
    width: auto;
    margin: auto;
}

#logo {
    margin-top: 0;
}

#badyear {
    border: 2px solid white;
    margin-bottom: 20px;

}

#badyearbuttons {
    grid-column: span 2;
    text-align: center;
    display: flex;
    justify-content: center;
    vertical-align: center;
}

#badyearbuttons .icon-spotify {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: #fff;
    fill: #fff;
    vertical-align: middle;
    margin-right: .5em;
}

#badyearbuttons .icon-youtube {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: #fff;
    fill: #fff;
    vertical-align: middle;
    margin-right: .5em;
}

#spotify,
#youtube {
    padding: 5px;
    padding-right: 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    text-align: center;
    margin: 10px;
    vertical-align: center;
    font-size: 1.15em;
}

#spotify:hover,
#youtube:hover {
    border-radius: 0px;
}

#spotify {
    background-color: green;
}

#youtube {
    background-color: red;
}

h2 {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
    font-size: 1.75em;
}

table {
    margin: auto;
    margin-bottom: 10px;
}

td {
    padding: 20px;
}

.socialmedia {
    grid-column: span 2;
    text-align: center;
    overflow: hidden;
}

.socialmedia a {
    color: hsla(192, 70%, 43%, 1);
}


.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.icon-facebook2,
.icon-instagram,
.icon-spotify,
.icon-youtube {
    width: 2em;
    height: 2em;
    fill: #fff;
    padding: 2px;
    margin-right: 2px;
}